.small {
  font-size: 0.875rem; /* 14px */
}

.medium {
  font-size: 1rem; /* 16px */
}

.large {
  font-size: 40px;
}

.tab_title {
  font-size: 35px;
}

.primary {
  color: #1d4ed8; /* Blue */
}

.secondary {
  color: #4b5563; /* Gray */
}

.default {
  color: #000000; /* Black */
}
