* {
  margin: 0px;
  font-family: "NotoSans KR";
}

body {
  background-color: #fff2e2;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
