* {
  margin: 0px;
  font-family: "NotoSans KR";
}

body {
  background-color: #fff2e2;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
/* 모든 입력 필드에 적용 */
input,
textarea,
select {
  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  padding: 0; /* 기본 여백 제거 */
  margin: 0; /* 기본 마진 제거 */
  background: none; /* 기본 배경 제거 */
  box-shadow: none; /* 기본 그림자 제거 */
  font: inherit; /* 부모 요소의 글꼴 상속 */
  box-sizing: border-box; /* 테두리와 여백을 포함한 박스 모델 */
}
